#footer {
  position: fixed;
  right: 0;
  bottom: 0;
}

#footer img {
  width: 100px;
}

#footer .big-cat {
  display: block;
}


@media (max-width: 900px) { 
  #footer .big-cat {
    display: none;
  }
  #footer {
    left: 0;
  }
}